@model IEnumerable<MyMVCApp.Entities.Heros.HeroEntity>

<div>
    <h2>All Heros</h2>
    
    <a asp-action="Create"> Add </a>
    
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Class</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var hero in Model)
        {
            <tr>
                <td>@hero.Id</td>
                <td>@hero.Name</td>
                <td>@hero.Class?.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@hero.Id">Delete</a> |
                    <a asp-action="Update" asp-route-id="@hero.Id">Update</a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>