@model MyMVCApp.Models.MovieViewModel

<h1>@Model.Title</h1>
<p><strong>@Html.DisplayNameFor(m => m.Director):</strong> @Model.Director</p>
<p><strong>@Html.DisplayNameFor(m => m.Genres):</strong></p>
@await Html.PartialAsync("_MyList", Model.Genres)
<p><strong>@Html.DisplayNameFor(m => m.Description):</strong> @Model.Description</p>
<p><strong>@Html.DisplayNameFor(m => m.Sessions):</strong></p>
@await Html.PartialAsync("_MyList", Model.Sessions.Select(s => s.ToString("dd.MM.yyyy HH:mm")))
<a asp-controller="Movies" asp-action="AllMovies" class="btn btn-secondary">⬅️ Повернутися</a>